<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Inicia sesión</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/login.css">

	</head>
	<body>
		<div class="container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<img src="https://png.pngtree.com/element_our/20190603/ourlarge/pngtree-movie-board-icon-image_1455346.jpg" class="brand_logo" alt="Logo">
						</div>
					</div>
					<div class="d-flex justify-content-center form_container">
						<form id = "login-form">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" id = "email" class="form-control input_user" value="" placeholder="Email">
							</div>
							
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" id = "pwd" class="form-control input_pass" value="" placeholder="Contraseña">
							</div>
							
							<div class="d-flex justify-conxtent-center mt-3 login_container">
						 		<button type="submit" name="login" class="btn login_btn">Iniciar sesión</button>
						   	</div>
						   	
						</form>
					</div>
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							¿Todavía no tenés cuenta? <a onclick="showModal('registerModal')" class="ml-2">Creala!</a>
						</div>
					</div>
				</div>
				<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    
			        <div class="modal-dialog" role="document">
			            <div class="modal-content">
			            
			            	<!-- Modal Header -->
			                <div class="modal-header">
			                    <h5 class="modal-title" id="addModalLabel">Registráte</h5>
			                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			                </div>
			                
			            	<!-- Modal Body -->
			                <div class="modal-body">
			                    <form id="register-form">
			                    	
			                        <div class="form-group">
			                            <label for="addNombre">Nombre</label>
			                            <input type="text" id="registerNombre" class="form-control" required />
			                        </div>
			                        <div class="form-group">
			                            <label for="addApellido">Apellido</label>
			                            <input type="text" id="registerApellido" class="form-control" required />
			                        </div>
			                        <div class="form-group">
			                            <label for="addNombre">Email</label>
			                            <input type="text" id="registerEmail" class="form-control" required />
			                        </div>
			                        <div class="form-group">
			                            <label for="addNombre">Contraseña</label>
			                            <input type="password" id="registerPwd" class="form-control" required />
			                        </div>
			                        
			                        <div class="form-group">
			                            <input type="checkbox" id = "checkAdmin"></input>
			                        	<label for="checkAdmin">Sos administrador? Ingresa el código</label>
			                            <input type="password" id="adminCode" class="form-control" hidden=true></input>
			                        </div>
			                        
			                        
			                        
			                        <button onclicktype="submit" class="btn register_btn">Creá tu cuenta</button>
			                    </form>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src = "/js/login.js"></script>
		<script src = "/js/inicioSesionListeners.js"></script>
		<script src = "/js/modals.js"></script>
	</body>
</html>